.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.project .proj-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px;
}

.project h1 {
  color: #0c0513;
  font-size: 35px;
  
  margin-bottom: 0px;
}

.tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proj-sec img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
  border: 10px solid white;
}

.tit .des {
  width: 100%;
  font-size: 24px;
  /* line-height: 1; */
  word-spacing: 2px;
  letter-spacing: 2px;
}

.tit .view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.view button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #d4c0c0;
  font-size: 1.3rem;
  background: #e95bb3;
  padding: 10px 15px;
  border-radius: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.view button:hover {
  background-color: #82225d;
}

.view a {
  text-decoration: none;
}

.view button svg {
  font-size: 25px;
}
.tit p {
  font-size: 28px;
  color: #0c0513;
  display: flex;
  gap: 15px;
}

.project svg {
  font-size: 60px;
  color: #0c0513;
}

@media only screen and (min-width: 430px) and (max-width: 1410px) {
  .project .proj-sec {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin: 30px;
  }

  .tit .des {
    width: 90%;
    font-size: 24px;
    line-height: 2;
    word-spacing: 2px;
    letter-spacing: 2px;
  }

  .project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
  }

  .proj-sec img {
    width: 80%;
    border-radius: 10px;
    object-fit: cover;
    border: 10px solid white;
  }

  .tit p {
    font-size: 24px;
    color: #0c0513;
    display: flex;
    gap: 15px;
  }

  .view button {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 435px) {
  .project .proj-sec {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin: 30px;
  }

  .tit .des {
    width: 90%;
    font-size: 16px;
  }

  .project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
  }

  .proj-sec img {
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    border: 10px solid white;
  }

  .project h1 {
    color: #0c0513;
    font-size: 30px;
  }

  .tit p {
    font-size: 16px;
    color: #0c0513;
    display: flex;
    gap: 15px;
  }

  .tit .view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .tit p {
    font-size: 16px;
    color: #0c0513;
    display: flex;
    gap: 5px;
  }

  .proj-sec img {
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    border: 10px solid white;
  }
}
