@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.skillContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    gap: 20px;

    
    
}
.skillContainer-image{
    flex: 1;
}

.skillContainer-image>img{
   width: 90%;
   
   
    
   
}
.skillContainer-text{
    flex: 4;
   max-width: 600px;
   display: flex;
   flex-direction: column;
   gap: 10px ;
   margin-right: 100px;
  

}
.skillContainer-skillset{
    margin-bottom: 10px;
    /* border: 2px solid red; */
}
.skillContainer-skillset>h5{
    font-family: "Montserrat", sans-serif;
    /* margin: 0px; */
}
.skillContainer-text h2{
    margin-bottom: 20px;
}
.skillContainer-bar{
    margin-top: 2px;
}

.skillContainer-bar >.MuiLinearProgress-colorPrimary{
    background-color: orange;
    
}

.skillContainer-bar>span> .MuiLinearProgress-barColorPrimary{
    background-color: rgb(189, 181, 181);
}
  