html {
  scroll-behavior: smooth;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./images/pre.webp);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #827491;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(109, 45, 110);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 99, 224, 0.911);
  border-radius: 12px;
}

.experience {
  margin-top: 10px;
}
#no-scroll {
  overflow: hidden;
  height: 100vh;
}
